<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
<div id="header">Registrácia</div>

<div id="boxerlist">
    <form>
        <label for="allclubs">Vyberte boxersky klub</label>
        <select id="allclubs" v-model="club">
            <option v-for="club in all_clubs" v-bind:value="club">
                    {{ club }}
            </option>   
        </select>
    </form>

    <form>
        <span>ročník</span>
        <span>hmotnostná kategória</span>
        <span>počet zápasov</span>
        <span>meno a priezvisko</span>
        <div v-for="(boxer, index) in members">
            <select v-model="boxer.year_category">
                <option v-for="year_category in all_year_categories" v-bind:value="year_category">
                    {{ year_category }}
                </option>
            </select>
            <select v-model="boxer.weight_category">
                <option v-for="weight_category in get_possible_weight_categories(boxer.year_category)" v-bind:value="weight_category">
                    {{ weight_category }}
                </option>
            </select>
            <input v-model="boxer.n_fights" type="number" step="1" min="0" max="5000">
            <input v-model="boxer.name">    
            <button type="button" @click="remove_boxer($event, index)">x</button>
            <button type="button" @click="add_boxer($event, index)">+</button>
        </div>
    </form>
    <button @click="send_to_server">Send</button>
</div>

<script src="vues.js"></script>
</body>
</html>